boot_out.txt
$RECYCLE.BIN
.vscode/
sd/
System Volume Information/
*.code-workspace

import microcontroller ; microcontroller.reset()
robocopy "D:\Tech\Pico\CircuitPython\Button Box" "E:\" *.py *.toml /S /R:1 /W:1